* {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    background-color: rgb(44, 44, 44);
}
h1 {
    color: rgb(210, 123, 0);
    font-size: 75px;
}
p {
    font-size: 20px;
    font-weight: bold;
    color: rgb(182, 117, 25);
}
.info,
li  {
    text-align: left;
    color: rgb(199, 148, 77);
    font-size: 20px;
}
.info.head {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 50px;
    color: rgb(224, 156, 61);
    background-color: rgb(110, 64, 0);
}
.button {
    display: inline-block;
    background-color: rgb(24, 24, 24);
    color: rgb(0, 208, 255);
    font-size: 30px;
    padding: 10px 30px 10px 30px;
    margin: 30px 30px 30px 30px;
}
