* {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    background-color: rgb(173, 119, 53);
}
h1 {
    color: rgb(114, 255, 180);
    font-size: 100px;
    font-weight: bold;
}
li {
    color: blueviolet;
    font-size: 35px;
    text-align: left;
}