* {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    background-color: rgb(44, 44, 44);
}
h1 {
    color: rgb(0, 208, 255);
    font-size: 100px;
    font-weight: bold;
}
.flexbox {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.button {
    display: inline-block;
    color: rgb(0, 131, 154);
    text-decoration: none;
    background-color: rgb(24, 24, 24);
    padding: 30px 20px 30px 20px;
    margin: 10px 25px 10px 25px;
    font-size: 35px;
    text-align: center;
}
.Pan-FriedAsparagus {
    color: rgb(5, 200, 44);
    flex: 2;
}
.CarrotCake {
    color: rgb(210, 123, 0);
    flex: 1;
}
.StrawberrySpinachSalad {
    color: rgb(196, 0, 0);  
    flex: 2;
}